In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("car.csv")
data.head()

     Price  Year  Kilometer
0   505000  2017      87150
1   450000  2014      75000
2   220000  2011      67000
3   799000  2019      37500
4  1950000  2018      69000

In [17]:
data.mean()

Price        959938.673469
Year           2016.448980
Kilometer     46277.693878
dtype: float64

In [18]:
data.median()

Price        699000.0
Year           2017.0
Kilometer     45000.0
dtype: float64

In [19]:
data.mode()

      Price    Year  Kilometer
0  625000.0  2019.0      66000
1       NaN     NaN      67000
2       NaN     NaN      75000

In [21]:
five_num = [data["Price"].quantile(0),     #Quartile
            data["Price"].quantile(0.25),
            data["Price"].quantile(0.50),
            data["Price"].quantile(0.75),
            data["Price"].quantile(1)]

five_num

[145000.0, 505000.0, 699000.0, 1095000.0, 3850000.0]

In [25]:
percentile = data["Price"].quantile(1)  #Percentile
percentile

3850000.0