In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv("cars.csv")
data.head()

,Make,Model,Price,Year,Kilometer,Fuel Type
0,Honda,Amaze 1.2 VX i-VTEC,505000.0,2017,87150.0,Petrol
1,Maruti Suzuki,Swift DZire VDI,450000.0,2014,75000.0,Diesel
2,Hyundai,i10 Magna 1.2 Kappa2,220000.0,2011,67000.0,Petrol
3,Toyota,Glanza G,799000.0,2019,37500.0,Petrol
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000.0,2018,69000.0,Diesel

In [13]:
data.isnull().sum()

Make          0
Model         0
Price         8
Year          0
Kilometer    15
Fuel Type     0
dtype: int64

In [16]:
miss_column = ["Price"]

for i in miss_column:
    data.loc[data.loc[:,i].isnull(),i]=data.loc[:,i].mean()

In [17]:
data.isnull().sum()

Make          0
Model         0
Price         0
Year          0
Kilometer    15
Fuel Type     0
dtype: int64

In [18]:
miss_column = ["Kilometer"]

for i in miss_column:
    data.loc[data.loc[:,i].isnull(),i]=data.loc[:,i].median()

In [19]:
data.isnull().sum()

Make         0
Model        0
Price        0
Year         0
Kilometer    0
Fuel Type    0
dtype: int64

In [ ]:
data["Price"] = data["Price"].fillna("NO Price")  #filling with new category
data["Kilometer"] = data["Kilometer"].fillna("No Kilometer")

In [22]:
data = data.drop_duplicates()
len(data)

In [24]:
data = data.dropna()
len(data)