In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("car.csv")
data.head()

     Price  Year  Kilometer
0   505000  2017      87150
1   450000  2014      75000
2   220000  2011      67000
3   799000  2019      37500
4  1950000  2018      69000

In [2]:
max(data["Price"])-min(data["Price"]) #range

3705000

In [3]:
data["Price"].quantile(0.75)-data["Price"].quantile(0.25) #IQR

590000.0

In [8]:
data["Price"].var()

524378216202.47455

In [5]:
data["Price"].std()

724139.6386074129

In [12]:
coeff_variation = (data["Price"].std()/data["Price"].mean())*100   #Coeff of variation
print(coeff_variation)

75.43603134461127